* {
    margin: 0;
    padding: 0;
    }

.body {
    font-family:sans-serif ;
}
.container {
    max-width: 1140px;
    margin: 0 auto; 
}

.top {
    min-height: 768px ;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}
.top_box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top_info {
    padding-top: 115px;
    flex-grow: 1;
    background-image: url(img/top_background.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;

}

.header {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 42px;
}
.top_heading {
    width: 510px;
    font-size: 64px;
    font-weight: 300;
    color: 1F3F68, 100%;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;

}

.text {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}

.top_text {
width: 425px;
}

.text_progect {
    width: 75%;
    margin: 32px auto 64px;
    color: 222222;
    opacity: 1;
    text-align: center;

}

.top_button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px ;
}

.what_we_do {
    padding-top: 64px;
}

.heading {
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000; 

}

.all_cards {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
}

.heading_mini_we_do {
    font-size: 20px;
    line-height: 30px;    
    letter-spacing: 0.05em;
    color: #1F3F68;
    margin-bottom: 14px;
}
.card {
    width: 359px;
    padding: 44px 32px ;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.img_card {
    align-self: center;
    margin-bottom: 51px ;
}

.img_card_2 {
    position: absolute;
    left: 60px;
}


.card_link {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
}

/* .project {} */


.project__item {
    position: relative;
    flex-grow: 1;

}
.project_img {
    width: 100%;
}

.project_item_margin {
    margin-right: 32px;
}

.project_text {
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: white;
    position: absolute;
    top: 64px;
    right: 64px;
}

.project_parent {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 112px;

}

.project_item_img {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
}

.footer {
    background: #316099;
    padding-top: 91px;
    padding-bottom: 64px;
    margin-top: 112px;
}

.footer_top {
    padding-bottom: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heading_footer {
    max-width: 340px;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 32px;
    
}
.text_footer_top {
    color: #FFFFFF;
   
}

.footer_text_all {
    max-width: 476px;
}

.footer_button {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding: 15px 80px;
    background: #5A98D0;
    text-decoration: none;
}

.footer_info {
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
}



.footer__list {
font-size: 16px;
line-height: 26px;
letter-spacing: 0.05em;
color: #FFFFFF;
flex-grow: 1;
flex-basis: 33.3%;
list-style-type: none;
display: flex;
margin-right: 32px;
}

.footer__list:first-child::before {
content: "A.";
display: block;
margin-right: 16px;
}

.footer__list:nth-child(2)::before {
    content: "T.";
    display: block;
    margin-right: 16px;
    }


.footer__list:nth-child(3)::before {
    content: "E.";
    display: block;
    margin-right: 16px;
    }


.footer_copy {
margin-top: 64px;

}
.text_vse{
    color: #FFFFFF;
}

.top_contact {
    min-height: 471px ;
    }

.top_contect_block_text {
    margin-top: 50px;
    padding: 70px;
    background-image: url(img/Contact_top.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.top_contact_heading {
    font-size: 44px;
    line-height: 74px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.top_contact_text {
    max-width: 70%;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
    margin:0 auto;
    
}

.contacts_info {
    margin-top: 32px;
    margin-bottom: 112px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 42px;
}

.contacts_info_our {
    max-width: 40%;
}

.contacts_info_form {
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

.heading_mini {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
}

.contacts_info_text {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
}

.contacts_info_items {
    max-width: 300px;
    padding-top: 30px;
    padding-bottom: 15px;
}

.phone_number {
    list-style-type: none;
}

.phone_items:before {
    content: url(img/phone.png);
    margin-right: 16px;
    }

.page:before {
    content: url(img/global.png);
    margin-right: 16px;
}

.mail:before {
    content: url(img/letter.png);
    margin-right: 16px;
}

.Input_text {
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    align-items: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 10px 10px;
    line-height: 28px;
}

.input_heading {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
    padding-left: 7.5%;

}

.input_form_heading {
    padding-left: 7.5%;
    padding-top: 20px;
    padding-bottom:   30px;
}

.btn {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px 80px;
    outline: 0;
    border: 0px;
    width: 85%;
    margin-left: 7.5%;
}

.map {
    display: flex;
    align-items: center;
}

@media (max-width: 1024px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }
    .top_info {
        background-position:right 280px ;
    }

   .all_cards {
      flex-direction: column;
      align-items: center;
   }
   .card {
       margin-bottom: 32px;
   }
   .footer_button {
    padding: 3px 32px;
}
.footer_info {
    flex-direction: column;
    margin-top: 73px;
}

}
@media (max-width: 667px) {

.header {
        padding-top: 24px;
    }

.top {
    min-height: 376px;
    padding-bottom: 41px;
    box-sizing: border-box;

}
.top_info {
    padding-top: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: none;
}
.top_heading {
    font-size: 32px;
    line-height: 37px;
    width: 100%;
    margin-bottom: 12px;
    text-align: center;
}

.top_text {
    width: 100%;
    text-align: center;
}
.top_button {
    font-size: 12px;
    line-height: 26px;
    padding: 0 8px;
}
.heading {
    font-size: 24px;
    line-height: 28px;
}
.what_we_do {
    padding-top: 48px;
}
.all_cards {
    padding-top: 32px;
 }

 .card {
    width: 100%;
 }

.text_progect {
    width: 100%;
}
.project_text {
    font-size: 16px;
    line-height: 19px;
    top: 16px;
    right: 16px;
}

.project_item_img {
    left: 16px;
}
.project_parent {
    flex-direction: column;
    margin-top: 16px;
}
.project_item_margin {
    margin-right: 0;
    margin-bottom: 16px ;
}
.footer_text_all {
    width: 343px;
    text-align: center;
}

.heading_footer {
    text-align: center;
}
.footer_top {
    flex-direction: column;
    margin-top: 16px;
}

.footer_button {
    margin-top: 40px;
}
.footer_info {
    flex-direction: column;
    margin-top: 73px;
}

}